---
---
$background-color: #f8f7f7;
$key-color: #3f3f3f;
$color: lighten($key-color, 20%);

html {
    -webkit-text-size-adjust: 100%; // TODO: What is this for exactly? I don't recall.
    background-color: #f3f3f3;
} 

body {
    background-color: $background-color;
    color: $color;
    font-family: sans-serif;
    line-height: 0;
    font-size: 0;
    margin: 23px auto;
    padding: 0px;
    width: 540px;
    border: 1px solid #bfbfbf;
}

em, i { font-style: italic; }
strong, b { font-weight: bolder; }
a { color: $key-color; text-decoration: none; }

p  { line-height: 24px; font-size: 16px; margin: 24px 24px 0 24px;   .sc { font-size: 14px; text-transform: uppercase; } }
td { line-height: 24px; font-size: 16px;                        .sc { font-size: 14px; text-transform: uppercase; } }
li { line-height: 24px; font-size: 16px; margin: 0;             .sc { font-size: 14px; text-transform: uppercase; } }
h1 { line-height: 24px; font-size: 17px; margin: 72px 0 24px 0; .sc { font-size: 15px; text-transform: uppercase; } }
h2 { line-height: 24px; font-size: 15px; margin: 24px 0 0 0; text-transform: uppercase; font-weight: normal; text-align: center; }
h3 { line-height: 24px; font-size: 18px; margin: 24px 0 0 0; font-weight: lighter; }

body > header {
    padding: 48px 0 0 0;
    text-align: center;
    border-bottom: 1px solid #afafaf;
    h1 { line-height: 0; margin: 0; }
    nav {
        margin-top: 32px;
        line-height: 23px; font-size: 15px; text-transform: uppercase;
        a, #selected { margin: 0 6px; }
        #selected { color: $color; border-bottom: 4px solid #b7b7b7; }
    }
}

body > main {
    margin: 24px 0;
}

body > footer {
    margin: 0 0 18px 0;
    padding: 0 18px;
    border-top: 1px solid #afafaf;
    p  { line-height: 18px; font-size: 12px; margin: 18px 0 0 0; }
}

//
// Misc
//
.gallery-container {
    .thumbnail { opacity: 0.8; }
}
.centering { text-align: center; }
.centered { margin-left: auto; margin-right: auto; }
.one-line-above { padding-top: 24px; }
.no-margin-top { margin-top: 0; }

.ColumnContainer {
    font-size: 0;
}
.LeftColumn {
    display: inline-block;
    width: 270px;
    vertical-align: top;
}
.RightColumn {
    display: inline-block;
    width: 270px;
    vertical-align: top;
}
