---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Gerry Weber Toronto</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="/gsap--tween-lite.js"></script> <!-- TODO: Move this to be within `gallery.js`. -->
    <script type="text/javascript" src="/gsap--css-plugin.js"></script> <!-- TODO: Move this to be within `gallery.js`. -->
    <script type="text/javascript" src="/gallery.js"></script>
  </head>

  <body>
    <header>
      <h1><a href="/"><img width="540px" src="/assets/logo.svg" alt="Gerry Weber Toronto"></a></h1>
      <nav>
        {% if page.url == "/index.html" or page.url == "/" %}
          <span id="selected">Home</span>
        {% else %}
          <a href="/">Home</a>
        {% endif %}
      
        {% if page.url == "/collections.html" %}
          <span id="selected">Collections</span>
        {% else %}
          <a href="/collections.html">Collections</a>
        {% endif %}
      
        {% if page.url == "/location.html" %}
          <span id="selected">Location</span>
        {% else %}
          <a href="/location.html">Location</a>
        {% endif %}
      
        {% if page.url == "/hours.html" %}
          <span id="selected">Hours</span>
        {% else %}
          <a href="/hours.html">Hours</a>
        {% endif %}
      
        {% if page.url == "/contact.html" %}
          <span id="selected">Contact</span>
        {% else %}
          <a href="/contact.html">Contact</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>
        &copy; Elizabeth Schindler Couture, Inc.<br>
        Site by <a href="http://radicle.io" target="_blank">Radicle Inc.</a>
        Site feedback is welcomed; please email <a href="mailto:raphael@radicle.io">raphael@radicle.io</a>.
      </p>
    </footer>
  </body>
</html>